# Created by https://www.gitignore.io/api/swift

### Swift ###
# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore
## OS X files
.DS_Store
.DS_Store?
.Trashes
.Spotlight-V100
*.swp

# End of https://www.gitignore.io/api/swift
